/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.purple-snackbar {
  color: white;
  background: #673ab7;
}
