.confirm {
  text-align: center;
  border: 2px solid #673ab7;
  border-radius: 12px;
  border-width: 2px;
  padding: 5vh;
  position: fixed;
  @media only screen and (min-width: 960px) {
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }
  @media only screen and (max-width: 960px) {
    top: 30vh;
    left: 5vh;
    right: 5vh;
  }
}
.connect {
  overflow: hidden;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  color: rgb(160, 160, 160);
}
.connect:before,
.connect:after {
  color: rgb(192, 192, 192);
  background-color: rgb(192, 192, 192);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 9.5%;
}
.connect:before {
  right: 0.5em;
  margin-left: -50%;
}
.connect:after {
  left: 0.5em;
  margin-right: -50%;
}
.mat-raised-button {
  background-color: #8259c8;
  color: white;
}
.mat-raised-button:hover {
  background-color: #673ab7;
}
