<!--Confirmed-->
<div *ngIf="isConfirmed">
  <div class="confirm">
    <p style="font-family:Comic Sans MS">
      Account confirmed succesfully, you will be redirected to login page
      shortly.
    </p>
    <div class="connect" style="font-size: 80%;">or you can click on</div>

    <button mat-raised-button="primary" routerLink="/login">
      <b style="font-size: 100%">Log In</b>
    </button>
  </div>
</div>

<!--NOT confirmed-->

<div *ngIf="!isConfirmed">
  <div class="confirm">
    <p style="font-family:Comic Sans MS">
      There was a problem confirming your email address.You will be redirected
      shortly to our support page.
    </p>
    <div class="connect" style="font-size: 80%;">or you can click on</div>

    <button mat-raised-button="primary" routerLink="/account-recovery">
      <b style="font-size: 100%;">Support</b>
    </button>
  </div>
</div>
