<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<form [formGroup]="myForm" *ngIf="tokenAvailable">
  <div class="passwordReset">
    <img
      src="../../../assets/images/balootechtips.png"
      style="width: 150px !important; height: 150px !important;"
    />
    <p id="font">Change password</p>
    <div class="connect"></div>
    <p class="formText">New Password</p>
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="New password"
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
        required
      />
      <mat-error
        *ngIf="myForm.hasError('required', 'passwordFormControl', 'minlength')"
      >
        Password must be at least 8 characters long
      </mat-error>

      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <p class="formText">Verify password</p>
    <mat-form-field>
      <input
        matInput
        placeholder="Confirm password"
        formControlName="confirmPassword"
        [type]="hide2 ? 'password' : 'text'"
        [errorStateMatcher]="matcher"
        required
      />
      <mat-error *ngIf="myForm.hasError('notSame')">
        Passwords do not match
      </mat-error>
      <button
        mat-icon-button
        matSuffix
        (click)="hide2 = !hide2"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide2"
      >
        <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <div class="connect"></div>
    <button
      mat-raised-button="primary"
      (click)="sendPassword()"
      [disabled]="myForm.get('password').value?.length &lt; 8 || myForm.get('confirmPassword').value?.length &lt; 8"
    >
      Set password
    </button>
  </div>
</form>
<div *ngIf="!tokenAvailable">token expired</div>
