.formText {
  text-align: left;
  color: #673ab7;
  font-weight: bold;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-form-field {
  display: block;
  position: relative;
  flex: auto;
}
.passwordReset {
  text-align: center;
  margin: auto;
  border: 2px solid #673ab7;
  border-radius: 12px;
  border-width: -2px;
  padding: 3vh;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media only screen and (min-width: 768px) {
    width: 40%;
  }
}
.connect {
  overflow: hidden;
  text-align: center;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  color: rgb(160, 160, 160);
}
.connect:before,
.connect:after {
  color: rgb(192, 192, 192);
  background-color: rgb(192, 192, 192);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.connect:before {
  margin-left: -30%;
}
.connect:after {
  margin-right: -30%;
}
.mat-raised-button {
  background-color: #8259c8;
  color: white;
}
.mat-raised-button:hover {
  background-color: #673ab7;
}
#font {
  font-weight: bold;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
