.example-container {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}
.container[_ngcontent-asn-c0] {
  height: 0vh !important;
}
.example-container > * {
  @media only screen and (min-width: 960px) {
    width: 30%;
  }
  @media only screen and (max-width: 960px) {
    width: 70%;
  }
}
.mat-button {
  color: #673ab7;
}
.example-button-row button,
.example-button-row-w a {
  margin-right: 8px;
}
.mat-stroked-button {
  color: #673ab7;
}
.example-button-row {
  margin-top: 0em;
  text-align: center !important;
}
.example-full-width {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}
.mat-raised-button {
  background-color: #673ab7;
  color: white;
}
.fa {
  padding: 10px;
  font-size: 20px;
  width: 2em;
  text-align: center;
  text-decoration: none;
  border-radius: 45px;
}
.loginRegisterComponent {
  background-color: beige;
  height: 100%;

  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
  padding-top: 10%;
  padding-left: 30%;
  padding-right: 30%;
}
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.connect {
  overflow: hidden;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  color: rgb(160, 160, 160);
}
.connect:before,
.connect:after {
  color: rgb(192, 192, 192);
  background-color: rgb(192, 192, 192);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.connect:before {
  right: 0.5em;
  margin-left: -50%;
}
.connect:after {
  left: 0.5em;
  margin-right: -50%;
}

.trouble {
  color: #673ab7;
  text-align: right;
  height: auto;
  cursor: pointer;
}
.trouble:hover {
  text-decoration: underline;
}
.text {
  color: #673ab7;
  background: white;
  text-align: left;
}

a:link {
  color: none;
  text-decoration: none;
}

a:visited {
  color: none;
  text-decoration: none;
}

a:hover {
  color: none;
  text-decoration: underline;
}

a:active {
  color: none;
  text-decoration: underline;
}
.mat-checkbox {
  font-family: "Times New Roman", Times, serif;
  cursor: initial;
}
.remember:hover {
  cursor: pointer !important;
  text-decoration: underline;
}
.remember {
  color: #673ab7;
  background: white;
}
