<div id="strength" #strength>
  <small>{{ barLabel }}</small>
  <ul id="strengthBar">
    <li class="point" [style.background-color]="bar0"></li>
    <li class="point" [style.background-color]="bar1"></li>
    <li class="point" [style.background-color]="bar2"></li>
    <li class="point" [style.background-color]="bar3"></li>
    <li class="point" [style.background-color]="bar4"></li>
    <li class="point" [style.background-color]="bar5"></li>
  </ul>
</div>
<div *ngIf="showDigits">Trebuie sa contina cifre</div>
<div *ngIf="upper">lower</div>
<div *ngIf="lower">upper</div>
<div *ngIf="specialChar">asterix si obelix</div>
<div *ngIf="showUnique">4 caractere diferite</div>
<div *ngIf="showLength">Minim 8 caractere</div>
