ul#strengthBar {
  display: inline;
  list-style: none;
  margin: 0;
  margin-left: 0px;
  padding: 0;
  vertical-align: 2px;
  text-align: center;

  padding-inline-start: 0px;
}
.point:last {
  margin: 0 !important;
}
.point {
  background: #ddd;

  display: inline-block;
  height: 5px;

  width: 16.6%;
  margin-bottom: 1rem;
}
