<div>
  <app-nav-bar></app-nav-bar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <app-mat-spinner-overlay overlay="true" *ngIf="spinner">
  </app-mat-spinner-overlay>
</div>
