.mat-toolbar-row {
  @media only screen and (min-width: 960px) {
    padding: 0 1vw;
  }
  @media only screen and (max-width: 960px) {
    padding: 0 1.5vw;
  }
}
.sidenav {
  margin-top: 64px;
  overflow: hidden;
}
.span {
  @media only screen and (max-width: 960px) {
    margin: auto;
  }
}
mat-toolbar-row {
  @media only screen and (max-width: 599px) {
    height: 64px;
  }
}
.mat-checkbox-layout .mat-checkbox-label {
  line-height: normal;
}
