<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        fxShow="true"
        fxHide.gt-sm
        *ngIf="isLoggedIn()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span [ngClass]="{ span: !isLoggedIn() }">BalooTechTips</span>
      <span fxFlex *ngIf="isLoggedIn()"></span>
      <div fxShow="true" fxHide.lt-md *ngIf="isLoggedIn()">
        <a mat-button routerLink=".">Link</a>
        <a mat-button routerLink=".">Link</a>
        <a mat-button routerLink=".">Link</a>
        <a mat-button routerLink=".">Link</a>
        <a mat-button routerLink=".">Link</a>
        <a (click)="logout()" mat-button>Logout</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav
      #sidenav
      [fixedInViewport]="true"
      class="sidenav"
      [autoFocus]="false"
    >
      <div
        fxLayout="column"
        fxLayoutAlign="space-between center"
        fxLayoutGap="10px"
        *ngIf="isLoggedIn()"
        style="height: 100%;"
        fxHide.gt-sm
      >
        <img
          src="../../../assets/images/balootechtips.png"
          style="width: 150px !important; height: 150px !important;"
        />
        <button fxFlex="5" mat-button routerLink=".">Link</button>
        <button fxFlex="5" mat-button routerLink=".">Link</button>
        <button fxFlex="5" mat-button routerLink=".">Link</button>
        <button fxFlex="5" mat-button routerLink=".">Link</button>
        <button fxFlex="5" mat-button routerLink=".">Link</button>
        <span fxFlex></span>
        <button fxFlex="5" (click)="logout()" mat-button>Logout</button>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
