<div fxLayout="column" fxLayoutAlign="center center" class="example-container">
  <img
    src="../../../assets/images/balootechtips.png"
    style="width: 150px !important; height: 150px !important;"
  />
  <p></p>
  <div class="example-button-row" style="text-align: left">
    <button routerLink="/login" mat-button="primary" style="color:gray">
      <b>Login</b>
    </button>
    <button routerLink="/register" mat-button style="color:#673ab7">
      <b>Register</b>
    </button>
  </div>
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Email"
      [formControl]="emailFormControl"
      [errorStateMatcher]="matcher"
      required
    />

    <mat-error
      *ngIf="
        emailFormControl.hasError('email') &&
        !emailFormControl.hasError('required')
      "
    >
      Email not vallid
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Enter your password"
      [type]="hide ? 'password' : 'text'"
      [formControl]="passwordFormControl"
      required
    />

    <mat-error *ngIf="passwordFormControl.invalid">{{
      getErrorMessage()
    }}</mat-error>
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>

  <!--
     Password
   -->
  <app-password-test
    style="text-align: center;"
    [passwordToCheck]="passwordFormControl.value"
    [barLabel]="barLabel"
  ></app-password-test>
  <!--
     Password-END
   -->

  <div class="example-button-row">
    <button
      (click)="register()"
      mat-raised-button
      color="primary"
      style="width: 90%"
      [disabled]="
        emailFormControl.value?.length &lt; 8 ||
        passwordFormControl.value?.length &lt; 8
      "
    >
      Sign up
    </button>
  </div>
</div>
