.example-container {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

.example-container > * {
  @media only screen and (min-width: 960px) {
    width: 30%;
  }
  @media only screen and (max-width: 960px) {
    width: 70%;
  }
}
.example-button-row {
  text-align: left;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.mat-stroked-button {
  color: #673ab7;
}
.example-button-row {
  text-align: center !important;
}
.example-full-width {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}
.mat-raised-button {
  background-color: #673ab7;
}

//Progress Bar password
.strength-meter[_ngcontent-naj-c8]:after,
.strength-meter[_ngcontent-naj-c8]:before {
  content: "";
  height: inherit;
  background: 0 0;
  display: block;
  border-color: #fff;

  border-width: 0 5px;
  position: absolute;
  width: calc(((100% - 20px) / 5) + 10px);
  z-index: 11;
}

password-strength-meter {
  border-style: none !important;
}
strength-meter[_ngcontent-vyo-c8]:after {
  right: calc((100% - 0px)) !important;
}
strength-meter[_ngcontent-vyo-c8]:before {
  left: calc((100% - 0px)) !important;
}
