.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.mat-raised-button {
  background-color: #673ab7;
  color: white;
  margin-top: 2vh;
  margin-bottom: 1vh;
}
.mat-panel {
  height: 12vh;
}

.mat-expansion-panel-header {
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.connect {
  overflow: hidden;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  color: rgb(160, 160, 160);
}
.connect:before,
.connect:after {
  color: rgb(192, 192, 192);
  background-color: rgb(192, 192, 192);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.connect:before {
  right: 0.5em;
  margin-left: -50%;
}
.connect:after {
  left: 0.5em;
  margin-right: -50%;
}
.mat-expansion-panel-header-title {
  color: #673ab7;
  font-weight: bold;
}
