<mat-accordion class="example-headers-align">
  <!-- Reset password -->
  <mat-expansion-panel
    (opened)="panelOpenStatePassword = true"
    (closed)="panelOpenStatePassword = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Password Recovery
      </mat-panel-title>
      <mat-panel-description>
        {{ panelOpenStatePassword ? "" : "Forgot your password?" }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input
        matInput
        placeholder="Enter your email"
        [formControl]="emailPassword"
        required
      />
      <mat-error *ngIf="emailPassword.invalid">{{
        getErrorMessage(emailPassword)
      }}</mat-error>
    </mat-form-field>
    <div class="example-button-row">
      <button
        style="width: 100%;"
        mat-raised-button="primary"
        (click)="resetPassword()"
      >
        <b>Reset</b>
      </button>
    </div>
  </mat-expansion-panel>
  <!-- Email confirmation -->
  <mat-expansion-panel
    (opened)="panelOpenStateVerified = true"
    (closed)="panelOpenStateVerified = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Confirm Email
      </mat-panel-title>
      <mat-panel-description>
        {{ panelOpenStateVerified ? "" : "Resend Confirmation Email" }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input
        matInput
        placeholder="Enter your email"
        [formControl]="emailConfirm"
        required
      />
      <mat-error *ngIf="emailConfirm.invalid">{{
        getErrorMessage(emailConfirm)
      }}</mat-error>
    </mat-form-field>
    <div class="example-button-row">
      <button
        style="width: 100%;"
        mat-raised-button="primary"
        (click)="resendEmail()"
      >
        <b>Resend</b>
      </button>
    </div>
  </mat-expansion-panel>
  <!--Report a bug-->
  <mat-expansion-panel
    (opened)="panelOpenStateBug = true"
    (closed)="panelOpenStateBug = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Report a bug
      </mat-panel-title>
      <mat-panel-description>
        {{ panelOpenStateBug ? "" : "Briefly describe the problem" }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input
        matInput
        placeholder="Enter your email"
        [formControl]="emailBug"
        required
      />
      <mat-error *ngIf="emailBug.invalid">{{
        getErrorMessage(emailBug)
      }}</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea
        style=" height: 10vh;"
        matInput
        #message1
        maxlength="1024"
        placeholder="Briefly describe the problem"
      ></textarea>

      <mat-hint align="end">{{ message1.value.length }} / 1024</mat-hint>
    </mat-form-field>
    <div class="example-button-row">
      <button
        style="width: 100%;"
        mat-raised-button="primary"
        (click)="reportBug(message1.value)"
      >
        <b>Send</b>
      </button>
    </div>
  </mat-expansion-panel>
  <!-- Other problem -->
  <mat-expansion-panel
    (opened)="panelOpenStateOther = true"
    (closed)="panelOpenStateOther = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Other problems? </mat-panel-title>
      <mat-panel-description>
        {{ panelOpenStateOther ? "" : "Don't hesitate to contact us" }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input
        matInput
        placeholder="Enter your email"
        [formControl]="emailProblem"
        required
      />
      <mat-error *ngIf="emailProblem.invalid">{{
        getErrorMessage(emailProblem)
      }}</mat-error>
    </mat-form-field>
    <p>Probem that you encounter</p>
    <mat-form-field class="example-full-width">
      <textarea
        style=" height: 10vh;"
        matInput
        #message
        maxlength="512"
        placeholder="Describe your problem"
      ></textarea>

      <mat-hint align="end">{{ message.value.length }} / 512</mat-hint>
    </mat-form-field>

    <div class="example-button-row">
      <button
        style="width: 100%;"
        mat-raised-button="primary"
        (click)="otherProblem(message.value)"
      >
        <b>Send</b>
      </button>
      <div class="connect">or call us at:</div>
      <p style="text-align: center;"><b>0749206007</b></p>
    </div>
  </mat-expansion-panel>
  <div class="example-button-row">
    <div style="text-align: center; margin-top:5vh">
      <button
        routerLink="/login"
        style="width: 50%;position: fixed;
        bottom: 0.1vh; 
        right:25vw"
        mat-raised-button="primary"
      >
        <b>⬅ Back to log in &nbsp; &nbsp;</b>
      </button>
    </div>
  </div>
</mat-accordion>
